
.cd-filter, .cd-intro {
  width: 90%;
  text-align: center;
}

.cd-intro {
  margin: 2em auto;
}

.cd-filter {
  margin: 0 auto;
  text-align: center;
}
.cd-filter li {
  position: relative;
  display: inline-block;
  margin: 0;
}
.cd-filter input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.cd-filter label {
  border-color: #e10e49;
  border-style: solid;
  border-width: 0 0 2px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.4em 0.6em;
}
.cd-filter label:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.cd-headline {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}

/* -------------------------------- 

xrotate-1 

-------------------------------- */
.cd-headline.rotate-1 .cd-words-wrapper {
  perspective: 300px;
}
.cd-headline.rotate-1 b {
  opacity: 0;
  transform-origin: 50% 100%;
  transform: rotateX(180deg);
}
.cd-headline.rotate-1 b.is-visible {
  opacity: 1;
  transform: rotateX(0deg);
  animation: cd-rotate-1-in 1.2s;
}
.cd-headline.rotate-1 b.is-hidden {
  transform: rotateX(180deg);
  animation: cd-rotate-1-out 1.2s;
}
@keyframes cd-rotate-1-in {
  0% {
    transform: rotateX(180deg);
    opacity: 0;
  }
  35% {
    transform: rotateX(120deg);
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(360deg);
    opacity: 1;
  }
}
@keyframes cd-rotate-1-out {
  0% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  35% {
    transform: rotateX(-40deg);
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  100% {
    transform: rotateX(180deg);
    opacity: 0;
  }
}

/* -------------------------------- 

xrotate-2 

-------------------------------- */
.cd-headline.rotate-2 .cd-words-wrapper {
  perspective: 300px;
}
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em {
  display: inline-block;
  backface-visibility: hidden;
}
.cd-headline.rotate-2 i {
  transform-style: preserve-3d;
  transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}
.is-visible .cd-headline.rotate-2 i {
  opacity: 1;
}
.cd-headline.rotate-2 i.in {
  animation: cd-rotate-2-in 0.4s forwards;
}
.cd-headline.rotate-2 i.out {
  animation: cd-rotate-2-out 0.4s forwards;
}
.cd-headline.rotate-2 em {
  transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
  transform: rotateX(0deg);
  opacity: 0;
}
.no-csstransitions .cd-headline.rotate-2 i em {
  transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1;
}

@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(90deg);
  }
  60% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    transform: translateZ(-20px) rotateX(0);
  }
  60% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-100deg);
  }
  100% {
    opacity: 0;
    transform: translateZ(-20px) rotateX(-90deg);
  }
}

/* -------------------------------- 

xloading-bar 

-------------------------------- */
.cd-headline.loading-bar span {
  display: inline-block;
  padding: .2em 0;
}
.cd-headline.loading-bar .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.loading-bar .cd-words-wrapper::after {
  /* loading bar */
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #E6D925;
  z-index: 2;
  transition: width 0.3s -0.1s;
}
.cd-headline.loading-bar .cd-words-wrapper.is-loading::after {
  width: 100%;
  transition: width 3s;
}
.cd-headline.loading-bar b {
  top: .2em;
  opacity: 0;
  transition: opacity 0.3s;
}
.cd-headline.loading-bar b.is-visible {
  opacity: 1;
  top: 0;
}

/* -------------------------------- 

xslide 

-------------------------------- */
.cd-headline.slide span {
  display: inline-block;
  padding: .2em 0 .3em;
}
.cd-headline.slide .cd-words-wrapper {
  overflow: hidden;
  vertical-align: top;
}
.cd-headline.slide b {
  opacity: 0;
  top: .2em;
}
.cd-headline.slide b.is-visible {
  top: 0;
  opacity: 1;
  animation: slide-in 0.6s;
}
.cd-headline.slide b.is-hidden {
  animation: slide-out 0.6s;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* -------------------------------- 

xscale 

-------------------------------- */
.cd-headline.scale i {
  display: inline-block;
  opacity: 0;
  transform: scale(0);
}
.is-visible .cd-headline.scale i {
  opacity: 1;
}
.cd-headline.scale i.in {
  animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
  animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
  transform: scale(1);
  opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
  opacity: 1;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0);
    opacity: 0;
  }
}
#top1{
	background-image: url(/assets/bgg.jpg);
	background-position: center;
	background-color: #2A3A3F;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	    position: relative;
}
#headline{
	color:#fff;
  padding-top:20px;
}
.logo img{
  width:181px;
  height:73px;
  float:left;
}
.img1 img{
  width:160px;
  height:200px;
}
.container{
  margin-top: 87px;
}
.separate{
  margin-top:30px;
}
.pro-image img{
  width:399px;
  height:284px;
  border-radius:7px;
}
.pro-image2 img{
  width:399px;
  height:284px;
  border-radius:7px;
}
.descript p{
  height:210px;
  width:523px;
  padding:30px 30px 0 0;
  font-size:1.2em;
  color:grey;
}
.btn2{
  border:none;
  border-radius:0;
  &:hover{

  background-color:#0078F0;
  }
}


/* --------------Slider Start--------- */

#cover{
  width: 100%;
  height: 360px;
  background-image: url("cover1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.header1{
  font-family: tahoma;
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  color: black;
  text-align: center;
}


.one{
  width: 30%;
  height: 30%;
  position: relative;   
}

.caption{
  padding:5 45 0 0;
  margin-left: 0;
}
.row1{
  margin-right: 20px;
}

/*............... slider css start ......................... */

#hero{
  width: 100%;
  height: 560px;
  display: block;
  position: relative; 
  margin: auto;
  overflow:hidden;
}
#slider{
  width: 100%;
  height: 560px;
  display: block;
  position: absolute; 
  overflow: hidden;
}
/*.......... info start ............... */
/*
.info{
  width: 100%;
  height: 80px;
  display: block;
  position: relative;
  bottom: 100px;
  background-color: rgba(102,204,204,.2);
  z-index: 99;
}
.info h2 {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  padding: 15px 0 0 20px;
}
.info p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #FFF;
  padding: 0 0 0 20px;
  line-height: 1px;
}
*/
/*.......... info start ............... */
#play{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  display: block;
  position: absolute;
  top: 0;
  right: 84px;
  background :#31B0D5;
  color: #FFF;
  cursor: pointer;
  z-index: 999;
  transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
}
#play:hover{
  background-color: #74cc48;
}
#pause{
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  display: block;
  position: absolute;
  top: 0;
  right: 128px;
  background :#31B0D5;
  color: #FFF;
  cursor: pointer;
  z-index: 999;
  transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
}
#pause:hover{
  background-color: #74cc48;
}
#next{
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background :#31B0D5;
  color: #FFF;
  cursor: pointer;
  z-index: 999;
}
#next:hover{
  background-color: #74cc48;
}
#prev{
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align:center;
  display: block;
  position: absolute;
  top: 0;
  right: 173px;
  background :#31B0D5;
  color: #FFF;
  cursor: pointer;
  z-index: 999;
}
#prev:hover{
  background-color: #74cc48;
}
#pager{
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}
#pager a {
  font-size: .0em;
  color: #31B0D5;
  width: 10px;
  height: 10px;
  display: inline-block;
  position: relative;
  border: 1px solid #FFF;
  border-radius: 20px;
  background-color: #31B0D5;
  margin: 10px;
}
#pager a.activeSlide {
  background: #FFF;
}
#pager a:hover{
  background-color: #31B0D5;
  width: 20px;
  height: 20px;
  
}
/*............... slider css End ......................... */
#connect{
  width: 100%;
  height: 350px;
  background-color:#31B0D5;
}
#h{
  margin-top:90px; 
}
#button{
  width: 150px;
  height: 55px;
  margin-left: 580px;
  margin-top: 15px; 
  border-radius: 10px;
  background-color: rgba(102,204,0,.2);
  border: none;

}
#button:hover {
  background-color: rgba(102,204,0,.2); 
  border:2px solid black;

}
#items img{
  width:100%;
  height:100%;
}
/*-------slider End --------------------------------*/
.contact{
margin-top:0; 
  height:429px;
  width:1348px;
  background-color:#2A3A3F;
  .htext{
  padding-top:5px;
}
}
/* *********Footer*********************** */
.footer-info{
  width:1348px;
  height:270px;
  padding-top:20px;
  background-color:#2a3a3f;
  .links{
    .fh{
    font-size:16px;
    color:#fff;
    font-weight:700;
    }
    ul{
    padding-top:10px;
    list-style:none;
    li {
      a{
      color: #fff;
      font-size:12px;
      text-decoration:none;
      font-style:bold;
        &:hover{
        border-bottom:1px solid #0078F0;
        font-size:16px;
        }
      }
    }
    }
  }
  .social{
    .fh{
      font-size:16px;
      color:#fff;
      font-weight:700;
    }
    ul{
      padding-top:35px;
    list-style:none;
    li{
      display:inline;
      a img{
      width:80px;
      height:60px;
      padding:5px;
      padding-right:3px;
      }
    }
    }
  }
  .location{
  .fh{
      font-size:16px;
      color:#fff;
      font-weight:700;

    }
  address{
  color:#fff;
  padding-top:10px;
  display:block;
  font-size:14px;
  img{
    width:50px;
    height:50px;
  }
  }
  }
  .copyright{

    margin-left:20px;
    p{
    color: #fff;
    font-size:12px;
    font-weight:300;
    }
  }
}
/* *********** navigation ****** */
#nav a {
  text-decoration: none;
}

#nav {
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
#nav input {
  display: none;
}
#nav label {
  margin: 0;
}
#nav div.nav-container {
  display: table-row;
}
#nav div.nav-container > div {
  display: table-cell;
}
#nav div.nav-container > div:nth-of-type(5n+1) .slide, nav div.nav-container > div:nth-of-type(5n+1) a {
  border-color: #8cc63f;
}
#nav div.nav-container > div:nth-of-type(5n+1) .slide:hover, nav div.nav-container > div:nth-of-type(5n+1) a:hover {
  color: #567b24;
}
#nav div.nav-container > div:nth-of-type(5n+1) .slide ~ .child-menu, nav div.nav-container > div:nth-of-type(5n+1) a ~ .child-menu {
  background-color: #a4d266;
}
#nav div.nav-container > div:nth-of-type(5n+1) input:checked ~ label, nav div.nav-container > div:nth-of-type(5n+1) .slide.active ~ label {
  color: #8cc63f;
}
#nav div.nav-container > div:nth-of-type(5n+2) .slide, nav div.nav-container > div:nth-of-type(5n+2) a {
  border-color: #ef3724;
}
#nav div.nav-container > div:nth-of-type(5n+2) .slide:hover, nav div.nav-container > div:nth-of-type(5n+2) a:hover {
  color: #a11a0c;
}
#nav div.nav-container > div:nth-of-type(5n+2) .slide ~ .child-menu, nav div.nav-container > div:nth-of-type(5n+2) a ~ .child-menu {
  background-color: #f26254;
}
#nav div.nav-container > div:nth-of-type(5n+2) input:checked ~ label, nav div.nav-container > div:nth-of-type(5n+2) .slide.active ~ label {
  color: #ef3724;
}
#nav div.nav-container > div:nth-of-type(5n+3) .slide, nav div.nav-container > div:nth-of-type(5n+3) a {
  border-color: #ffa61a;
}
#nav div.nav-container > div:nth-of-type(5n+3) .slide:hover, nav div.nav-container > div:nth-of-type(5n+3) a:hover {
  color: #b36d00;
}
#nav div.nav-container > div:nth-of-type(5n+3) .slide ~ .child-menu, nav div.nav-container > div:nth-of-type(5n+3) a ~ .child-menu {
  background-color: #ffba4d;
}
#nav div.nav-container > div:nth-of-type(5n+3) input:checked ~ label, nav div.nav-container > div:nth-of-type(5n+3) .slide.active ~ label {
  color: #ffa61a;
}
#nav div.nav-container > div:nth-of-type(5n+4) .slide, nav div.nav-container > div:nth-of-type(5n+4) a {
  border-color: #1ab1ff;
}
#nav div.nav-container > div:nth-of-type(5n+4) .slide:hover, nav div.nav-container > div:nth-of-type(5n+4) a:hover {
  color: #0076b3;
}
#nav div.nav-container > div:nth-of-type(5n+4) .slide ~ .child-menu, nav div.nav-container > div:nth-of-type(5n+4) a ~ .child-menu {
  background-color: #4dc2ff;
}
#nav div.nav-container > div:nth-of-type(5n+4) input:checked ~ label, nav div.nav-container > div:nth-of-type(5n+4) .slide.active ~ label {
  color: #1ab1ff;
}
#nav div.nav-container > div:nth-of-type(5n+5) .slide, nav div.nav-container > div:nth-of-type(5n+5) a {
  border-color: #FC1DCF;
}
#nav div.nav-container > div:nth-of-type(5n+5) .slide:hover, nav div.nav-container > div:nth-of-type(5n+5) a:hover {
  color: #b1028d;
}
#nav div.nav-container > div:nth-of-type(5n+5) .slide ~ .child-menu, nav div.nav-container > div:nth-of-type(5n+5) a ~ .child-menu {
  background-color: #fd4fda;
}
#nav div.nav-container > div:nth-of-type(5n+5) input:checked ~ label, nav div.nav-container > div:nth-of-type(5n+5) .slide.active ~ label {
  color: #FC1DCF;
}
#nav a, nav label {
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#nav .slide {
  padding: 10px 10px;
  font-size: 1em;
  display: block;
  color: #393939;
  border-top: 4px solid transparent;
  position: relative;
  -moz-transition-property: border-width, color;
  -o-transition-property: border-width, color;
  -webkit-transition-property: border-width, color;
  transition-property: border-width, color;
  -moz-transition-duration: 0.1s, 0.2s;
  -o-transition-duration: 0.1s, 0.2s;
  -webkit-transition-duration: 0.1s, 0.2s;
  transition-duration: 0.1s, 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transition-delay: 0.2s, 0s;
  -o-transition-delay: 0.2s, 0s;
  -webkit-transition-delay: 0.2s, 0s;
  transition-delay: 0.2s, 0s;
}
#nav .slide .element {
  font-size: 1.25em;
  font-weight: 600;
  font-style: normal;
  display: block;
  line-height: 1;
}
#nav .slide .name {
  font-size: 0.6875em;
  position: relative;
}
#nav .has-child .name:after {
  content: "";
  width: 10px;
  height: 4px;
  background-image: url("http://www.elemental-shift.com/remote-assets/down-arrow.svg");
  display: block;
  position: absolute;
  bottom: -9px;
  left: 1px;
  background-repeat: no-repeat;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
#nav .child-menu {
  display: block;
  position: absolute;
  max-height: 0;
  overflow: hidden;
  background-color: #393939;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 5000;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#nav .child-menu a {
  color: white;
  display: inline-block;
  padding: 15px 30px 15px 10px;
  font-size: 0.9375em;
}
#nav input:checked ~ .child-menu {
  max-height: 100px;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  -webkit-transition-property: max-height;
  transition-property: max-height;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
#nav input:checked ~ .has-child .name:after {
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

@media only screen and (min-width: 48.0625em) {
  nav {
    display: block;
    table-layout: auto;
  }
  nav div.nav-container {
    display: block;
  }
  #nav div.nav-container > div {
    display: block;
    margin: 5px 0;
  }
  #nav div.nav-container > div:hover .slide {
    border-left-width: 55px;
    -moz-transition-delay: 0;
    -o-transition-delay: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
  }
  #nav .slide {
    display: block;
    width: auto;
    border-left: solid 4px #393939;
    border-top: none;
  }
  #nav .slide .element {
    line-height: 1;
  }
  #nav .child-menu {
    display: block;
    position: relative;
    top: 0;
    background-color: transparent !important;
    margin-left: 55px;
    width: auto;
    max-height: 0px;
    overflow: hidden;
    border-top: none;
  }
  #nav .child-menu a {
    color: #393939;
    display: block;
    padding: 3px 0 3px 10px;
    font-size: 0.8125em;
  }
  #nav input:checked ~ div.child-menu {
    max-height: 120px;
  }
  #nav input:checked ~ .slide {
    border-width: 55px;
  }
}
.masthead {
  font-family: "Open Sans", sans-serif;
}
.masthead .brand-container {
  padding: 10px;
  background-color: #393939;
}
.masthead .brand-container a {
  color: white;
  display: inline-block;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.masthead .brand-container a:hover {
  color: #8cc63f;
}
.masthead .brand-initials {
  font-size: 3.0625em;
  font-weight: 700;
  font-style: normal;
  display: block;
  line-height: 42px;
}
.masthead .brand-name {
  font-size: 0.8125em;
  text-indent: 3px;
  display: block;
}

@media only screen and (min-width: 48.0625em) {
  .masthead {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
  }
  .masthead .brand-container {
    padding: 10px 0 50px 10px;
  }
  .masthead .brand-container a {
    display: block;
  }
}
